h2, h3{
    display: inline;
}
nav li, nav ul{
    display: inline;
    list-style: none;
}
nav{
    background-color: aquamarine;   
    padding: 20px;
}

table, th, td, tr{
    border: 1px solid black;
}
th{
    background-color: #cccccc;
}
footer{
    background-color: #666666;
}